$react-window-scroller-options:(

)!default;

.react-window-scroller{
  >.ft{
    border-top: 0.55px solid #eee;
    text-align: center;
    color: #999;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }
}
