$react-infinite-scroller-options: () !default;

.react-infinite-scroller {
  > .ft {
    border-top: 0.55px solid #eee;
    text-align: center;
    color: #999;
    padding: 14px 0;
    text-align: center;
    font-size: 12px;
  }
}
